.grafNaslov {
    fill:white;
    font-weight:bold;
    font-size:22px;
    text-align:center;
    text-anchor:middle;
}


/*postavke pita grafa*/
.pitaLegenda {
    fill:white;
    font-weight:normal;
    font-variant:normal;
    /*font-family:monospace;*/
    font-size:14px;
    
}

.pitaLegendaDesno {
    fill:white;
    font-weight:normal;
    font-variant:normal;
    /*font-family:monospace;*/
    font-size:14px;
    text-anchor:end;
    
}

.pitaSVG {
    border:dotted;
    /*width:100%;*/

}

.pitaPostotciTipsDesni {
    fill:white;
    border:solid 1px;
    font-size:12px;
    background-color:white;
    text-anchor:start;
}

.pitaPostotciTipsLijevi {
    fill:white;
    border:solid 1px;
    font-size:12px;
    background-color:white;
    text-anchor:end;
}

.naslovKoordinatnogSustavaStupci{
    fill:white;
    text-anchor:middle;
    font-weight:normal;
    font-variant:normal;
    font-size:16px;
    
}
/* postavke stupci grafa*/
.stupciSVG {
    border: dotted;
    /*width:100%;*/
}
.stupciKoordinatniSustav {
    fill:black;
    stroke:white;
    stroke-width:2;
}

.stupciNaslov {
    fill:white;
    text-anchor:start;
    font-weight:normal;
    font-variant:normal;
    font-size:14px;
}

.stupciv2Naslov {
    fill:white;
    text-anchor:middle;
    font-weight:normal;
    font-variant:normal;
    font-size:14px;
}

.stupciv2Labele {
    fill:white;
    text-anchor:end;
    font-weight:normal;
    font-variant:normal;
    font-size:14px;
}

/*postavke crta Grafa*/
.crtaGrafCrta{
    stroke:white;
    stroke-width:1;
    fill:none;
    
}
.crtaGrafManjiKruzic {
    stroke:white; 
    stroke-width:1;
    fill:white;
}

.crtaGrafVeciKruzic {
    stroke:white;
    stroke-width:1;
    fill:none;
}
.crtaGrafLabele {
    text-anchor:end;
    fill:white;
    font-weight:normal;
    font-variant:normal;
    font-size:12px;
    text-shadow:2px 2px 2px #333;
}
.crtaGrafPodaci {
    text-anchor:middle;
    fill:white;
    text-shadow:2px 2px 2px #333;
    font-weight:normal;
    font-variant:normal;
    font-size:12px;
}

.crtaGrafKruzicNaOsiX {
    stroke:white; 
    stroke-width:1;
    fill:grey;
}